<mat-toolbar class="mat-elevation-z6" color="primary">
  <h2>Oblivion Boost Balance</h2>
  <mat-list class="header-navigation">
    <!-- <a class="nav-link" routerLinkActive="nav-link-active">Anschreiben</a>
    <a class="nav-link" routerLinkActive="nav-link-active">Testraid</a>
    <a class="nav-link" routerLinkActive="nav-link-active">wurde Abgelehnt</a>
    <a class="nav-link" routerLinkActive="nav-link-active">hat Abgelehnt</a>
    <a class="nav-link" routerLinkActive="nav-link-active">Alle</a> -->
  </mat-list>
</mat-toolbar>
<router-outlet></router-outlet>