.progress-bar {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navigation {
    margin-top: 10px;
}

.nav-link {
    color: #000;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.nav-link mat-icon {
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.nav-link-active {
    color: #007bfd;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.nav-link-active mat-icon {
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.sidenav-container {
}

.sidenav {
    width: 350px;
}

.sidenave-button {
    margin-right: 10px;
}

.sidenav-toolbar {
    background-color: #3f51b5;
    display:flex;
    align-items:center;
    width:350px;
    height:64px;
}

.sidenav-toolbar h1 {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0;
    color: #fff;
    margin-left: 26px;
}

.main-content {
    box-shadow: inset 0 6px 10px 0 rgba(0,0,0,.14);
}