.progress-bar {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.toolbar {
    padding: 0px !important;
    position: sticky;
    top: 0;
    z-index: 10;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}

.header-navigation {
    display: table-row;
    margin-left: auto;
    margin-right:auto;
    align-items:left;
    padding-top: 0 !important;
    height: 100%;
}

.header-navigation > .mat-list-item {
    float: left;
}

.nav-link {
    color: #000;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.nav-link mat-icon {
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.nav-link-active {
    color: #fff;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.nav-link-active mat-icon {
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.main-content {
    box-shadow: inset 0 6px 10px 0 rgba(0,0,0,.14);
}