
<mat-form-field class="my-form-field">
  <input #searchstring matInput (keyup)="search(searchstring.value)" placeholder="Search">
</mat-form-field>

<div fxLayout="row" class="mat-elevation-z2" style="margin: 16px">
   
  <mat-table fxFlex="100" #table [dataSource]="_dataSource">
          
    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="name-column"> <h2>Name</h2> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="name-column"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef class="balance-column"> <h2>Balance</h2> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="balance-column"> {{row.balance | number:'':'en' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paid">
        <mat-header-cell *matHeaderCellDef class="paid-column"> <h2>Paid</h2> </mat-header-cell>
        <mat-cell *matCellDef="let row" class="paid-column"> {{row.paid | number:'':'en' }} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="owed">
      <mat-header-cell *matHeaderCellDef class="owed-column"> <h2>Owed</h2> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="owed-column"> {{row.owed | number:'':'en'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="extra">
      <mat-header-cell *matHeaderCellDef class="extra-column"> <h2>Deduct/Extra/Paid</h2> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="extra-column"> {{row.extra | number:'':'en'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="info">
      <mat-header-cell *matHeaderCellDef class="info-column"> <h2>Additional Info</h2> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="info-column"> {{row.info}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>