
<mat-form-field style="margin-left: auto; margin-right: auto; padding: 8px; width: 100%;">
  <input #searchstring matInput (keyup)="search(searchstring.value)" placeholder="Search">
</mat-form-field>

<div fxLayout="row" class="fxClass-all mat-elevation-z2" style="margin: 8px">
   
  <mat-table #table [dataSource]="_dataSource">
          
    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="name-column"> <b>Name</b> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="name-column"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef class="balance-column"> <b>Balance</b> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="balance-column"> {{row.balance | number:'':'en' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paid">
        <mat-header-cell *matHeaderCellDef class="paid-column"> <b>Paid</b> </mat-header-cell>
        <mat-cell *matCellDef="let row" class="paid-column"> {{row.paid | number:'':'en' }} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="owed">
      <mat-header-cell *matHeaderCellDef class="owed-column"> <b>Owed</b> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="owed-column"> {{row.owed | number:'':'en'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>