.mat-header-row {
    position: sticky;
    top: 0;
    background-color: inherit;
}

.mat-row:hover {
    background-color: rgb(0, 123, 253, 0.25);
}

.name-column {
    flex: 0 0 250px;
}

.balance-column {
    flex: 0 0 150px;
}

.paid-column {
    flex: 0 0 150px;
}

.owed-column {
    flex: 0 0 150px;
}

.extra-column {
    flex: 0 0 250px;
}

.info-column {

}